body {
  background-color: #1F2833;
  min-height: calc(100vh);
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 1.4;
  color: #66FCF1;
}


img {
  margin: 20px;
  max-width: 88%;
  max-height: 88%;
  width: auto;
  height: auto;
}


.container {
  padding-left: 2%;
  text-align: left;
  font-size: 40px;
  padding-top: 10px;
  color: #66FCF1;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
}

.container:hover {
  background: #2EE59D;
  box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
  transform: translateY(-7px);
}

.container:hover h1 {
  color: white;
}


p {
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: center;
}



iframe {
  position: relative;
  background-position: center;


}

.play-list li {
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
}

.play-list li:hover {
  background: #0fa291;
  box-shadow: 0 15px 20px rgba(46, 229, 202, 0.4);
  transform: translateY(-3px);
}

.play-list li:hover:first-child {
  color: white;
}

.play-list li:first-child {
  font-weight: bold;
  padding: 15px 0 10px 15px;
  margin-bottom: 10px;
  border-bottom: 1px solid #66FCF1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #45A29E;
  font-size: 24px;
  box-shadow: 0 10px 20px -5px rgba(0,0,0, .2);
  }

  .play-list li:first-child:before {
    content: "\2749";
    margin-right: 10px;
    }


.service {
  text-align: center;
}
.service .fa {
  color: #45A29E;
  margin-right: 45px;
}
.flex {
  display: flex;
  flex-direction:row;
  margin: 10px;
  flex-wrap: wrap;
}



.flex-column {

  display: flex;
  flex-direction:column;
  margin: 4px;
  flex-wrap: wrap;
}

.item_content {
  flex: 1;
  padding: 0px;
  margin: 0px;
  border: 2px solid #45A29E;
  border-radius: 10px;
  color: #C5C6C7;

}

.item_content .style-1{
  background: #1F2833;
  padding: 0px;
  margin: 0px;
  max-width: 450px;
  min-width: 100px;

}


.item_content .style-2{
  background: #101217;
  min-width:180px;
}

.bio-1 .bio-2 .bio-3 {
  padding-left: 10px;
  padding-top: 10px;
}

h2 {
  padding-left: 25px;
  margin: 10px;
}


.item_navigation-music {
  padding: 10px;
  border: 2px solid #45A29E;
  min-width:180px;
  max-width:300px;
  border-radius: 10px;
  background: #1F2833;
}

header {
  padding: 10px;
  border: 2px solid #45A29E;

  border-radius: 10px;
  background: #1F2833;
  min-height: 120px;
  max-height: 210px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;

}

header h2 {
  text-align: center;
  font-size: 35px;
  padding-top: 10px;
  color: #66FCF1;

}


header:hover {
  background: #1aa86f;
  box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
  transform: translateY(-7px);
}

header:hover h2 {
  color: white;
}



footer {
  height: 10vh;
  background: #101217 w;
  padding: 10px;
  border: 2px solid #45A29E;
  border-radius: 10px;
  margin: 10px;
}
.container {
  background: #101217;
  text-align: center;
  margin-top: 20px;
  min-height: 150px;
  max-height: 200px;
}


@media screen and (max-width: 992px) {
  .item_navigation-music {
    min-width: 25%;
  }
  .item_content .style-2 {
    max-width: 952px;
    min-width: 800px;
  }

}


@media screen and (max-width: 852px) {
  .item_navigation-music {
    min-width: 20%;
  }
  .item_navigation-music {
    max-width: 30%;
    min-width: 25%;
  }
  .bio-1 .bio-2 {
    max-width: 280px;
    min-width: 180px;
  }
  .bio-3 {
    height: 280px;
    max-width: 802px;
    min-width: 505px;
  }
  .item_content .style-2 {
    min-width: 575px;
  }

}


@media screen and (max-width: 575px) {
  .item_navigation-music {
    max-width: 500px;
    min-width: 180px;
  }
  .flex {
    flex-direction: column;
  }

  .bio-3 .bio-1 .bio-2 {
    max-width: 500px;
    min-width: 180px;
  }

  .item_content .style-2 {
    max-width: 575px;
    min-width: 200px;
  }

  h2 {
    font-size: 25px;
  }
}
/* та 992рх. flex-wrap: wrap;*/
