
* {
    box-sizing: border-box;

}

.page{
    flex: 1 0 auto;
<<<<<<< HEAD

=======
>>>>>>> Cpp
    display: flex;
    flex-direction:column;
}


.content{
    flex: 1 0 auto;
    display: flex;

    flex-direction: row;

    /* justify-content: flex-start; */
}


body {
    margin: 0;    

   
<<<<<<< HEAD
    background-image: url("./../img/209.jpg");
=======
    background-image: url("./../img/78.png");
>>>>>>> Cpp
    background-size: 100% auto;
    background-repeat: repeat;
    
}

/* contact menu list  */
.contact {
    padding: 0;
    list-style: none;

}
.contact a {
    text-decoration: none;
    outline: none;
    display: block;
    padding-right:3%; 
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 85%;
    color: #444;
    transition: .3s linear;

}

.services {
    padding: 0;
    list-style: none;
}
<<<<<<< HEAD
=======
p{
    font-family: "DejaVu Sans Mono", monospace	;
}
>>>>>>> Cpp

.services a {
    text-decoration: none;
    padding-top: 2%;
    padding-bottom: 2%;
    outline: none;
    display: block;
    padding-right:3%; 
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 85%;
    color: #444;
    transition: .3s linear;
}



.contact a:hover span {color: #b99d61;}
.services  a:hover span {color: #b99d61;}


.contact-information{
    border-color: #8D8895;
    border-width: 5px;
    background: #D1CDD7;
<<<<<<< HEAD
    font-family: 'Roboto', sans-serif;
=======
    font-family: "DejaVu Sans Mono", monospace	;

>>>>>>> Cpp
    -webkit-box-shadow: 27px 25px 45px -22px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: 27px 25px 45px -22px rgba(0, 0, 0, 0.54);  
    box-shadow: 27px 25px 45px -22px rgba(0, 0, 0, 0.54);
    padding-bottom:4%;
}


.work-services{
    border-color: #8D8895;
    border-width: 5px;
    background: #D1CDD7;
<<<<<<< HEAD
    font-family: 'Roboto', sans-serif;
=======
    font-family: "DejaVu Sans Mono", monospace	;

>>>>>>> Cpp
    -webkit-box-shadow: 27px 25px 45px -22px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: 27px 25px 45px -22px rgba(0, 0, 0, 0.54);  
    box-shadow: 27px 25px 45px -22px rgba(0, 0, 0, 0.54);
    padding-bottom:4%;
}

.contact-infor-box {
    margin:0;
    -webkit-box-shadow: 14px 2px 27px 4px rgba(183, 176, 193, 0.18) inset;
    -moz-box-shadow: 14px 2px 27px 4px rgba(183, 176, 193, 0.18) inset;
    box-shadow: 14px 2px 27px 4px rgba(183, 176, 193, 0.18) inset;
}

.work-services-box {
    margin: 0;
    -webkit-box-shadow: 14px 2px 27px 4px rgba(183, 176, 193, 0.18) inset;
    -moz-box-shadow: 14px 2px 27px 4px rgba(183, 176, 193, 0.18) inset;
    box-shadow: 14px 2px 27px 4px rgba(183, 176, 193, 0.18) inset;

}


.contact a::before span{
    content: "\2014";
    margin-right: 4px;
    margin-left: 2%;

}
.contact-title{
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #222;
    font-size: auto;
    padding-left: auto;
    margin-bottom: 1%;
    border-left: 6px solid #b99d61;

}



nav {
    padding: 3.45%;
<<<<<<< HEAD
    font-family: 'Roboto', sans-serif;
=======
    font-family: "DejaVu Sans Mono", monospace	;
>>>>>>> Cpp
  }



.footer {
    height: 10px;
    flex: 0 0 auto;
  }

.navigation{
    position: sticky;
    top: 5%;left: 1%;
    
    margin-left: 2%;

    margin: 10;


    padding-top: 1%;
    padding-left: 0.5%;
    padding-bottom: 4%;
    width: 20.5%;

    -moz-transition: all 0.4s; 
    -webkit-transition: all 0.4s;  
    -ms-transition: all 0.4s;  
    -o-transition: all 0.4s;  
    transition: all 0.4s; 
    opacity: 0.8;
    filter:alpha(opacity=76);
}
.navigation:hover {
        opacity:0.92;
        filter:alpha(opacity=90);
}


.information {
    margin-top: 5%;
    margin-left: 10%;
    margin-right:9%;
    height: 260%;
    width: 57%;

    opacity: 0.95;

    bottom: 240px;
}


.equalizer {
    margin-left: 70%;
    margin-bottom: 10%;
}

.header {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100px;
<<<<<<< HEAD
    background-color: hsl(270, 3%, 88%);
=======
    background-color: #C0B9B0;
>>>>>>> Cpp

}


.first-at-singht-text h1,h2,h3,h4,h5,h6,span {
    color:#222;
    font-family: cursive;

}

.zoom-block {
    transition: all 0.35s ease-in;
    transform-style: flat;
}

.zoom-block:hover {
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -ms-transform: scale(1.04);
    transform: scale(1.04);

}


<<<<<<< HEAD
=======
img {
	float: left;
}



.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 2px;
  }

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  .arrow-boxing {
    padding-left: 2%;
    padding-right: 4%;
  }


.text-title {
    margin-left: 15%;
    transition: all 0.15s ease-in;
    transform-style: flat;
}

.text-title:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: all 0.19s ease-in;
    transform: translate(2px,-2px)
}



>>>>>>> Cpp
.zoom-element{
    margin-left: 5%;
    transition: all 0.14s ease-in;
    transform-style: flat;
}

.zoom-element:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: all 0.17s ease-in;
    transform: translate(2px,-2px)
}




.title-company h5{
    color:#222; 
    font-size: 250%; /* Размер шрифта в процентах */  
    margin: 2%;

}


<<<<<<< HEAD



=======
.imgPool{
    padding-left: 5%;

    margin-right:5%;
    padding-top: 2%;
    padding-bottom: 2%;

    float: auto;
	/* position: absolute;
	z-index: 2; /* помещаем .green-box поверх .dashed-box */
}
>>>>>>> Cpp


.main {
    background-color: #D1CDD7;
    -webkit-box-shadow: 0px 0px 22px rgba(10, 5, 20, 0.458);
    -moz-box-shadow: 0px 0px 22px rgba(10, 5, 20, 0.458);
    box-shadow: 0px 0px 22px rgba(10, 5, 20, 0.458);
    border: 0.4px solid #E0DBE8;

    display:inline-block;

    border-radius: 5px/7px;

}

<<<<<<< HEAD
=======

.right-img-side {
    float: right;
}

.myself{
    height: 5%;
}

>>>>>>> Cpp
.borderRagius {
    border: 6px solid #E0DBE8;
    border-radius: 25px;
  }